body {
  margin: 0;
  font-family: "Roboto", sans-serif;;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
}