<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head', {title: 'Error!'}) %>
<body>
    <div class="todo">
        <%- include('partials/header') %>
        <p class="error">Ups! No se encontró la página que buscabas.</p>
        <h1 class="error">:(</h1>
    </div>
</body>
<%- include('partials/footer')%>
</html>