<!DOCTYPE html>
<html lang="es">
		<%- include('../partials/head', {title: 'Carrito de Compras'}) %> 
	<body>
		<!--Header de la pagina-->
		<div class="todo">
				<%- include('../partials/header') %>
			<!--carrito de compras-->
			<div class="cart-page">
				<table>
					<tr>
						<th>
							
						</th>
						<th>Cantidad</th>
						<th>subtotal</th>
					</tr>
				</table>
				<div id="add">
					
				</div>
				</div>
				<div class="buttons">
					<p id="precio">Total: $</p>
					<td><a class="boton_personalizado" href="buy">Comprar</a></td>
					</td>
				</div>
			</div>
			<!--Footer de la página-->
			<%- include('../partials/footer') %>
		</div>
	</body>
</html>