<!DOCTYPE html>
<html lang="es">
		<!-- Primer partial, head -->
		<%- include('../partials/head', {title: 'Crear Producto'}) %> 
	<body>
		<div class="todo">
			<!-- Segundo partial, header-->
			<%- include('../partials/header') %>
			<div class="tests">
				<div class="forms">
					<div id="listst">
						<% if(typeof errors != "undefined") { %> 
							<% errors.forEach(error => { %>
								<ul>    
									<li>
										<%= error.msg %>
									</li>
								</ul>
								<% }) %>
								<% } %>
							</div>
					<!-- Form -->
					<form action="/productos/create" method="post" enctype="multipart/form-data">
						Nombre del producto: <br>
						<input type="text" name="nombre" id="" required> <br>
						<label for=""> Precio: </label> <br>
						$ <input type="number" name="precio" id="" class="presio" min= "1" max="99999"><br>
						<label for="cantidad">Cantidad: </label> <br>
						<input type="number" name="cantidad" id="cantidad" min= "1" max="9999" class="cantidad"><br>
					<label for="genero">Elige el género de tu producto:</label> <br>
					<select name="genero" id=""> 
						<option value="1">Unisex</option>
						<option value="2">Hombre</option>
						<option value="3">Mujer</option>
					</select>
						<br>
						<label for="">¿Cuál es la condición?</label><br>
						<select name="condicion" id="">
							<option value="1">Nuevo</option>
							<option value="2">Usado</option>
						</select>
					<br>
						<label for="">¿Cuál es el color?</label> <br>
						<select name="color" id="">
							<option value="1">Negro</option>
							<option value="2">Blanco</option>
							<option value="3">Verde</option>
							<option value="4">Rosa</option>
							<option value="5">Violeta</option>
							<option value="5">Gris</option>
						</select>
					<br>
						<label for="">Sube una imagen de tu producto:</label> <br>
						<input type="file" name="image" id="" style="width: 175px">
					<br>
						<label for="">Talle:</label> <br>
						<select name="talle" id="">
							<option value="1">33</option>
							<option value="2">34</option>
							<option value="3">35</option>
							<option value="4">36</option>
							<option value="5">37</option>
							<option value="6">38</option>
							<option value="7">39</option>
							<option value="8">40</option>
							<option value="9">41</option>
							<option value="10">42</option>
							<option value="11">43</option>
							<option value="12">44</option>
						</select>
					<!-- Submit button-->
					<input type="submit" value="Subir">
					</form>
				</div>
			</div>
		</div>
		<div class="parent">
			<%- include('../partials/footer') %> 
		</div>
	</body>
</html>