<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head') %> 
</head>
<body>
    <div class="todo">
        <%- include ('../partials/header') %> 
    </div>
    <footer>
        <%- include ('../partials/footer') %> 
    </footer>
</body>
</html>