<!DOCTYPE html>
<html lang="es">
	<head>
		<!-- Primer partial, head -->
		<%- include('../partials/head') %> 
		<title>Crear producto - Roper</title>
	</head>
	<body>
		<div class="todo">
			<!-- Segundo partial, header-->
			<%- include('../partials/header') %>
			<div class="tests">
				<div class="forms">
					<!-- Form -->
					<form action="/productos/create" method="post" >
						Nombre del producto: <br>
						<input type="text" name="nombre" id=""> <br>
						<label for=""> Precio: </label> <br>
						$ <input type="number" name="precio" id="" class="presio" min= "1" max="99999"><br>
						<label for="cantidad">Cantidad: </label> <br>
						<input type="number" name="cantidad" id="cantidad" min= "1" max="9999" class="cantidad"><br>
					<label for="genero">Elige el género de tu producto:</label> <br>
					<select name="genero" id=""> 
						<option value="unisex">Unisex</option>
						<option value="hombre">Hombre</option>
						<option value="mujer">Mujer</option>
					</select>
						<br>
						<label for="">¿Cuál es la condición?</label><br>
						<select name="condicion" id="">
							<option value="nuevo">Nuevo</option>
							<option value="usado">Usado</option>
						</select>
					<br>
						<label for="">¿Cuál es el color?</label> <br>
						<select name="color" id="">
							<option value="negro">Negro</option>
							<option value="blanco">Blanco</option>
							<option value="verde">Verde</option>
							<option value="rosa">Rosa</option>
							<option value="violeta">Violeta</option>
						</select>
					<br>
						<label for="">Sube hasta 4 imágenes de tu producto:</label> <br>
						<input type="file" name="image" id="" style="width: 175px">
					<br>
						<label for="">Talle:</label> <br>
						<select name="talle" id="">
							<option value="xs">XS</option>
							<option value="s">S</option>
							<option value="m" selected>M</option>
							<option value="l">L</option>
							<option value="xl">XL</option>
							<option value="xxl">XXL</option>
						</select>
					<!-- Submit button-->
					<input type="submit" value="Subir">
					</form>
				</div>
			</div>
		</div>
		<footer>
			<!-- Footer -->
			<%- include('../partials/footer') %> 
		</footer>
	</body>
</html>