<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %> 
    <title>Editar producto - Roper</title>
</head>
<body>
    <div class="todo">
        <header>
            <%- include('../partials/header') %> 
        </header>
    </div>
    <footer>
        <%- include('../partials/footer') %> 
    </footer>
</body>
</html>