.banner {
    height: 290px;
    width: 960px;
    margin-top: 20px;
    background-image: url(https://dafitistaticar-a.akamaihd.net/cms/banner_main_30offseleccionados_020118.jpg);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin-left: 92px;
}

.products p {
    font-size: 20px;
    font-weight: bold;
}

.products a {
    text-decoration: none;
    color: rgb(134, 130, 130);
}

.products img {
    width: 200px;
    height: 170px;
}

.products {
	display: flex;
    justify-content: space-around;
    flex-flow: wrap;
    border-radius: 10%;
    border-color: black;
}

.product{
    margin-top: 20px;
    justify-content: center;
}

.header {
    display: flex;
    margin-top: 30px;
    width: 1149px;
    flex-wrap: wrap;
}

.line {
    margin-left: 50px; 
    border: 1px solid rgb(156, 156, 156);
}

.buscar {
    display: flex;
    justify-content: center;
    margin-left: 68px;
}

input {
	outline: none;
}
input[type=search] {
	font-size: 100%;
}
input::-webkit-search-decoration, input::-webkit-search-cancel-button {
	display: none; 
}


input[type=search] {
	background: #ededed url('https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png') no-repeat 9px center;
	border: solid 1px #ccc;
	padding: 9px 10px 9px 32px;
	width: 511px;
	
	-webkit-border-radius: 10em;
	-moz-border-radius: 10em;
	border-radius: 10em;
	
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}

input:-moz-placeholder {
	color: #999;
}
input::-webkit-input-placeholder {
	color: #999;
}

.forms {
    padding-top: 15px;
    text-align: center;
    background-color: #8080803d;
    font-family: "Roboto", "sans-serif";
    padding-bottom: 15px;
    width: 300px;
}

.forms input {
    padding-right: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}

::placeholder{
    margin-left: 5px;
}

.todo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
}

.usuario {
    display: flex;
    width: 35px;
    height: 35px;
    margin-left: 70px;
    margin-top: 5px;
}

.usuario p {
    margin: 0 0 0 8px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

.usuario h4 {
    margin: 0 0 0 8px;
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
}

.arrow {
    height: 10px;
    padding-top: 21px;
    padding-left: 2px;
}

.cart{
    width: 37px;
    height: 37px;
    margin-left: 85px;
}

hr {
    border-top: 1px solid rgb(156, 156, 156);
    margin-top: 10px;
    width: 1150px;

}

body {
    display: flex;
    flex-direction: column;
}

.header a {
    text-decoration: none;
    color: black;
}

footer a {
    text-decoration: none;
    color: white;
}

ul {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0px;
    margin-top: 0px;
    flex-wrap: wrap;
    font-family: 'Roboto', sans-serif;
    padding-left: 0px;
    text-transform: uppercase;
}

input {
    padding-right: 450px;
}

li {
    list-style-type: none;
}

.article {
    width: 1149px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
}

.boxes{
    width: 300px;
    height: 500px;
    border: solid gray 1px;
    background-image: url('../images/male-model.jpeg');
}


.boxes3{
    width: 300px;
    height: 500px;
    border: solid gray 1px;
    background-image: url('../images/female-model.png');
}

.boxes2 {
    margin-top: 10px;
    margin-bottom: 40px;
    width: 510px;
    height: 200px;
    border: solid gray 1px;
    background-image: url('../images/male-female-model.png');
}

.article2 {
    width: 1149px;
    display: flex;
    justify-content: center;
}

.boxes p {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 420px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    background-color: #ffffffa3;
}

.boxes3 p {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 420px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    background-color: #ffffffa3;
}

.boxes2 p {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    background-color: #ffffffa3;
}

.texto {
    margin-top: 150px;
}

button {
    justify-content: center;
    display: flex;
    margin-left: 116px;
    color: white;
    background-color: black;
    font-size: 13px;
    border-style: none;
}

footer {
    margin-top: 20px;
    width: 1150px;
    height: 67px;
    background-color: black;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

footer ul {
    color: white;
    margin-top: 8px;
    flex-wrap: wrap;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    margin-bottom: 0px;
    flex-wrap: wrap;
    font-family: 'Roboto', sans-serif;
    padding-left: 0px;
}

.boxes2 button {
    justify-content: center;
    display: flex;
    margin-left: 220px;
    color: white;
    background-color: black;
    font-size: 13px;
    top: -10px;
    position: relative;
}

footer p {
    font-family: 'Roboto', sans-serif;
    justify-content: center;
    display: flex;
    color: white;
}

.menu {
    width: 1149px;
}

@media all and (max-width: 992px) {
    article.banner {
        display: none;
    }

    .forms {
        padding-top: 15px;
        padding-bottom: 50px;
    }
    .header {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-content: center;
        width: 360px;
    }

    .logo {
        margin-left: 91px;
    }
    .menu {
        display: flex;
        flex-flow: column;
        align-self: center;
        flex-wrap: wrap;
        width: 360px;
    }

    .line {
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 0px;
    }

    .usuario {
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 38px;
    }

    input {
        margin-right: 67px;
        margin-bottom: 10px;
    }

    .menu ul {
        display: grid;
        justify-content: center;
        margin-bottom: 0px;
        margin-top: 0px;
        flex-wrap: wrap;
        font-family: 'Roboto', sans-serif;
        padding-left: 0px;
        text-transform: uppercase;
    }

    hr {
        width: 360px;
    }
    
    footer {
        margin-bottom: -24px;
    }

    .article {
        display: grid;
        width: 360px;
    }

    .article2{
        width: 360px;
    }

    .boxes2 button {
        margin-left: 114px;
    }

    .boxes2 {
        width: 300px;
        background-image: url('../images/male-female-model-responsive.png');
    }

    .boxes3 {
        margin-top: 10px;   
    }

    body {
        max-width: 992px;
        display: flex;
        overflow-x: hidden;
    }

    input[type=search] {
        width: 185px;
    }
}

table {
    width: 100%;
    border-collapse: collapse;
}

.image-product {
    width: 50px;
    display: flex;
    flex-wrap: wrap;
}


th{
    text-align: left;
    padding: 5px;
    color: #fff;
    background: #e1dada;
    font-weight: normal;
}

td {
    padding: 10px 5px;
}

td input {
    width: 40px;
    height: 25px;
    padding: 5px;
}

.boton_personalizado{
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    color: #ffffff;
    background-color: #70e44d;
    border-radius: 6px;
	border: 2px solid #49d360;
    width: 100px;
    margin:43px;
	
  }

  .buttons {
      margin: 1px;
      display: flex;
      justify-content: flex-end;

  }

  * {
    font-family: "Roboto", "sans-serif";
  } 

  .botton {
    margin-top: 20px;
    display: inline-grid;
    margin-left: 0px;
    
    font-size: 13px;
    border-style: none;
    width: 100px;
    height: 25px;
    padding-top: 5px;
}

.botton:active {
    box-shadow: inset 0px 0px 5px #c1c1c1;
}

.presio {
    width: 75px;
}

.cantidad {
    width: 75px;
}

.tests {
    display: flex;
    justify-content: center;
}

.itemm {
    width: 100px;
}