.flex-container {
  background-color: #f7fcfa;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

#price {
  display: none;
}

.item {
  width: 200px;
  height: 100px;
  border: 1px solid rgb(214, 202, 202);
  display: flex;
  margin: 20px;
}
.photo-container {
  border: 1px solid rgb(207, 195, 195);
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.listadoAction form{
  margin-left: 0px;
}
.boton_personalizado2 {
  padding: 10px;
  font-weight: 600;
  color: #ffffff;
  border-radius: 6px;
  width: 132px;
  margin-top: 32px;
  margin-left: 43px;
  padding-left: 0px;
}
.product-info-container {
  display: flex;
  flex-flow: column wrap;
  width: 284px;
}
.cart-page {
  width: 60%;
}
/* Responsive Magic */
@media all and (max-width: 992px) {
  .cart-page {
    width: 100%;
  }
  #add {
    justify-content: center;
  }
  #add img {
    width: 20%;
  }

  .flex-container {
    display: flex;
    flex-direction: column;
  }
  .photo-container {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }

  .logo {
    margin-left: 92px;
  }
}

.item-photo {
  height: 306px;
}

.main-photo {
  width: 254px;
}

.item-product {
  width: 99%;
}

.mini-photo {
  display: flex;
  justify-content: column;
  flex-direction: column;
}

form {
  margin-left: 14px;
}

h3 {
  margin-left: 14px;
}

h4 {
  margin-left: 14px;
}

h2 {
  margin-left: 14px;
}

.boton_personalizado {
  text-decoration: none;
  padding: 10px;
  font-weight: 600;
  color: #ffffff;
  border-radius: 6px;
  width: 109px;
  margin-top: 32px;
  margin-right: 0px;
  margin-bottom: 0px;
}

.hr-market {
  width: 100%;
}

.item-detail {
  width: 100%;
}

* {
  font-family: "Roboto", "sans-serif";
}

.test {
  display: flex;
  justify-content: center;
}

.especifico {
  margin: 30px;
}

.especifico a {
  color: white;
}
