<!DOCTYPE html>
<html lang="es">
    <%- include('partials/head', {title: 'Ofertas'}); %> 
    <body>
        <div class="todo">
            <%- include('partials/header'); %> 
            <div class="compra">
                <img src="https://tetranoodle.com/wp-content/uploads/2018/07/tick-gif.gif" alt="">
            </div>
            <div class="compra2">
                <p>¡Gracias por su compra! :)</p>
                <p><a href="/">Volver al Inicio</a></p>
            </div>
        </div>
            <div class="parent">
                <%- include('./partials/footer') %>
            </div> 
            </body>
</html>