<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Carrito de compras - Roper</title>
		<link rel="stylesheet" href="stylesheets/index.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap">
		<link rel="stylesheet" href="stylesheets/carrito.css">
	</head>
	<body>
		<!--Header de la pagina-->
		<%- include("partials/header") %> 

		<!--carrito de compras-->
		<div class="cart-page">
			<table>
				<tr>
					<th>
						<div class="product-info">
							<a href="/productos"><img src="https://dafitistaticar-a.akamaihd.net/p/vizzano-8408-422194-1-zoom.jpg " class="image-product"></a>
						</div>
					</th>
					<th>Cantidad</th>
					<th>subtotal</th>
				</tr>
				<tr>
					<td>Zapatos Negros</td>
					<td><input type="number" value="1"></td>
					<td>$50.00</td>
				</tr>
			</table>
			<table>
				<tr>
					<th>
						<div class="product-info">
							<img src="https://i.pinimg.com/originals/b8/b0/41/b8b041b34346fe400cd9922997e94854.jpg" class="image-product">
						</div>
					</th>
					<th>Cantidad</th>
					<th>subtotal</th>
				</tr>
				<tr>
					<td>Zapatos Blancos</td>
					<td><input type="number" value="1"></td>
					<td>$100.00</td>
				</tr>
			</table>
			<div class="buttons">
				<p>Total : 150$</p>
				<td><a class="boton_personalizado" href="buy">Comprar</a></td>
				</td>
			</div>
		</div>
		
		<!--Footer de la página-->
		<%- include("partials/footer") %> 

		</div>
	</body>
</html>