<!DOCTYPE html>
<html lang="es">
    <%- include('partials/head', {title: '¡Contáctenos!'}); %> 
    <body>
        <div class="todo">
            <%- include('partials/header'); %> 
            <p class="bu">Nosotros</p>
            <div class="nosotros">
                <div class="losotro">
                <img src="../../images/users/yop.png" alt="">
                    <p>Lisandro Brasolin</p>
                    <a href="https://github.com/LisandroB"><img id="no"src="https://image.flaticon.com/icons/png/512/25/25231.png" alt=""></a>
                    <a href="https://www.linkedin.com/in/lbrasolin/"><img id="no" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/ca/LinkedIn_logo_initials.png/600px-LinkedIn_logo_initials.png" alt=""></a></p>
                </div>
                <div class="losotro">
                    <img class="jee" src="../../images/users/ivan.png"alt="">
                        <p>Iván Chanenko</p>
                        <a href="https://github.com/ivanalexisc"><img id="no"src="https://image.flaticon.com/icons/png/512/25/25231.png" alt=""></a>
                </div>
                <div class="losotro">
                    <img src="../../images/users/image-1611089857306.jpg" alt="">
                        <p>Joaquín Ortiz de Zarate</p>
                        <a href="https://github.com/joaquinodz"><img id="no"src="https://image.flaticon.com/icons/png/512/25/25231.png" alt=""></a>
                        <a href="https://www.linkedin.com/in/joaquinodz/"><img id="no" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/ca/LinkedIn_logo_initials.png/600px-LinkedIn_logo_initials.png" alt=""></a></p>
                </div>
            </div>
            <p class="bu" style="display: flex;justify-content: center;">Roper es una plataforma e-commerce para la compra/venta de ropa, ya sea de personas particulares o emprendedores.</p>
            <p class="bu" style="display: flex;justify-content: center;">Nuestro target se compone de cualquier género y edad, partiendo desde la preadolescencia en adelante.</p>
            <p class="bu" style="display: flex;justify-content: center;">Este sitio fue creado y desarrollado para el Proyecto Integrador de Digital House. ¡Gracias por visitarnos!</p>
        </div>
        <div class="parent">
            <%- include('./partials/footer') %>
        </div> 
    </body>
</html>