<!DOCTYPE html>
<html lang="es">
    <%- include('partials/head', {title: '¡Contáctenos!'}); %> 
    <body>
        <div class="todo">
            <%- include('partials/header'); %> 
            <p>Nosotros</p>
            <div class="nosotros">
                <div class="losotro">
                <img src="https://lisandrob.github.io/img/dfgs21.png" alt="">
                    <p>Lisandro Brasolin</p>
                    <a href="https://github.com/LisandroB"><img id="no"src="https://image.flaticon.com/icons/png/512/25/25231.png" alt=""></a>
                    <a href="https://www.linkedin.com/in/lbrasolin/"><img id="no" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/ca/LinkedIn_logo_initials.png/600px-LinkedIn_logo_initials.png" alt=""></a></p>
                </div>
                <div class="losotro">
                    <img src="../../images/users/ivan.png" alt="">
                        <p>Iván Chanenko</p>
                        <a href="https://github.com/ivanalexisc"><img id="no"src="https://image.flaticon.com/icons/png/512/25/25231.png" alt=""></a>
                </div>
                <div class="losotro">
                    <img src="../../images/users/image-1611089857306.jpg" alt="">
                        <p>Joaquín Ortiz de Zarate</p>
                        <a href="https://github.com/joaquinodz"><img id="no"src="https://image.flaticon.com/icons/png/512/25/25231.png" alt=""></a>
                        <a href="https://www.linkedin.com/in/joaquinodz/"><img id="no" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/ca/LinkedIn_logo_initials.png/600px-LinkedIn_logo_initials.png" alt=""></a></p>
                </div>
                
            </div>

        </div>
        <div class="parent">
            <%- include('./partials/footer') %>
        </div> 
    </body>
</html>