<!DOCTYPE html>
<html lang="es">

    <%- include ("partials/head"); %> 
    <title>Home - Roper</title>
    <body>
        <div class="todo">

            <%- include ('partials/header'); %> 

            <div class="article">
                <article class="boxes">
                    <p>hombre</p>
                    <button>VER MÁS</button>
                </article>
                <article class="boxes3">
                    <p>mujer</p>
                    <a href=""><button>VER MÁS</button></a>
                </article>
            </div>
            <div class="article2">
                <article class="boxes2">
                    <div class="texto">
                        <p>unisex</p>
                        <a href=""><button>VER MÁS</button></a>
                    </div>
                </article>
            </div>    

            <%- include ('partials/footer'); %> 
            
        </div>
    </body>

    <!-- TODO: MEter el footer cmo la gent -->
</html>