<!DOCTYPE html>
<html lang="es">

    <%- include('partials/head', {title: 'Index'}); %> 

    <body>
        <div class="todo">

            <%- include('partials/header'); %> 

            <div class="article">
                <a href="/productos/categoria/hombre">
                <article class="boxes">
                    <p>HOMBRE</p>
                    <button>VER MÁS</button>
                </article></a>
                <a href="/productos/categoria/mujer">
                <article class="boxes3">
                    <p>MUJER</p>
                    <button>VER MÁS</button>
                </article>
            </a>
            </div>

            <div class="article2">
                <a href="/productos/categoria/unisex">
                <article class="boxes2">
                    <div class="texto">
                        <p>UNISEX</p>
                        <button>VER MÁS</button>
                    </div>
                </article>
            </a>
            </div>    
            
        </div>
        <div class="parent">
			<%- include('./partials/footer') %>
		</div>
    </body>
</html>