<!DOCTYPE html>
<html lang="es">

    <%- include('partials/head', {title: 'Index'}); %> 

    <body>
        <div class="todo">

            <%- include('partials/header'); %> 

            <div class="article">
                <article class="boxes">
                    <p>hombre</p>
                    <a href="/productos"><button>VER MÁS</button>
                </article></a>
                <article class="boxes3">
                    <p>mujer</p>
                    <a href="/productos"><button>VER MÁS</button></a>
                </article>
            </div>
            <div class="article2">
                <article class="boxes2">
                    <div class="texto">
                        <p>unisex</p>
                        <a href="/productos"><button>VER MÁS</button></a>
                    </div>
                </article>
            </div>    

            <%- include('partials/footer'); %> 
            
        </div>
    </body>

    <!-- TODO: Meter el footer como la gente -->
</html>