<!DOCTYPE html>
<html lang="es">
    <%- include('partials/head', {title: 'Ofertas'}); %> 
    <body>
        <div class="todo">
            <%- include('partials/header'); %> 
            <a href="/productos"><article class="banner2"></article></a>
            <a href="/productos"><article class="banner3"></article></a>
            </div>
            <div class="parent">
                <%- include('./partials/footer') %>
            </div> 
            </body>
</html>