<!DOCTYPE html>
<html lang="en">
<head>
	<%- include ('partials/head') %>     
	<title>Productos - Roper</title>
</head>
<body>
    <div class="todo">
		
		<%- include ('partials/header'); %> 
   
		<div class="flex-container">

			<!-- Aca van las fotos del producto -->
			<div class="photo-container">

				<!-- Foto principal del producto -->
				<div class="main-photo">
					<div class="item-photo"><img src="https://dafitistaticar-a.akamaihd.net/p/vizzano-8408-422194-1-zoom.jpg"  alt="image-principal" class="item-product" ></div>
					
				</div>

				<!-- Fotos adicionales del producto -->
				<div class="mini-photo">
					<div class="item"><img src="https://dafitistaticar-a.akamaihd.net/p/vizzano-8415-422194-5-zoom.jpg" alt="item-detail" class="item-detail"></div>
					<div class="item"><img src="https://dafitistaticar-a.akamaihd.net/p/vizzano-8408-422194-1-zoom.jpg" alt="item-detail" class="item-detail"></div>
					<div class="item"><img src="https://dafitistaticar-a.akamaihd.net/p/vizzano-8409-422194-2-zoom.jpg" alt="item-detail" class="item-detail"></div>
				</div>
			</div>

			<!-- Informacion del producto -->
			<div class="product-info-container">
			<h2>Nombre del Producto</h2>
			<h3>Descripcion del producto</h3>
			<h4>$999.999</h4>
			<form action="Resultado">
				<label for="talles">Elegir talle</label>
				<select name="Talles" >
					
					<option value="1">33</option>
					<option value="2">34</option>
					<option value="3">35</option>
					<option value="4">36</option>
					<option value="5">37</option>
					<option value="6">38</option>
					<option value="7">39</option>
					<option value="8">40</option>
					<option value="9">41</option>
					<option value="10">42</option>
					<option value="11">43</option>
					<option value="12">44</option>
				</select>
			</form>
			<a class="boton_personalizado" href="/carrito">Agregar al Carrito</a>
			
			<div class="Details">
				<hr color="grey" class="hr-market">
				<h3>Detalle</h3>
				<h4>Lorem ipsum dolor sit amet.</h4>
				<h3>Información</h3>
				<h4>Genero Masculino</h4>
			</div>
			</div>
			
			<% include ('partials/footer'); %> 

		</div>
</body>
</html>