<footer>
    <ul>
        <li><a href="#">Términos · </a></li>
        <li><a href="#">· Privacidad ·</a></li>
        <li><a href="#">· Contáctenos ·</a></li>
        <li><a href="/api/products">· API ·</a></li>
        <li><a href="#">· Trabajos</a></li>
    </ul>
    <p>Ⓒ 2020 Roper, Inc.</p>
</footer>