<header class="header">
    <a href="/"><img src="../../images/logo-roper.svg" alt="" class="logo"></a>
    
    <div class="line"></div>
    
    <form action="/search" method="POST" class="buscar">
        <input type="search" name="search" id="search" placeholder="Buscar..." >
    </form>
    
    <div class="usuario">
        <% if (usuario) { %>
            <img src="../../images/users/<%- usuario.image%>" style="width: 87%" alt="" class="ee">
            <div class="nologin">
                <a href="/user/logout"><h4>Logout</h4></a>
                <a href="/user/profile"><p style="font-size: 16px;"><%- usuario.name %></p></a>
            </div>
        <% } else { %>
            <img src="../../images/user.png" style="width: 100%" alt="">
            <div class="nologin">
                <a href="/user/register"><h4>Registrarse</h4></a>
                <a href="/user/login"><p>Ingresar</p></a>
            </div>
            <img src="../../images/arrow.png" alt="" class="arrow">
        <% } %>
        <a href="/carrito"><img src="../../images/cart.png" alt="" class="cart"></a>
        <img src="../../images/arrow.png" alt="" class="arrow">
    </div>
    
    <hr> </hr>

    <nav class="menu">
        <ul>
            <%if (usuario) { %>
                <li><a href="/productos/create">Vender</a></li>
                <li><a href="">Premium</a></li>
                <li><a href="">Hogar</a></li>
                <li><a href="/user/profile">Mi Cuenta</a></li>
            <% } else {%>
                <li><a href="">Premium</a></li>
                <li><a href="">Hogar</a></li>
            <% } %>
        </ul>
    </nav>
    
    <hr class="hr"> </hr>
    
 </header>