<div class="header">
    <a href="/"><img src="assets/images/logo-roper.svg" alt="" class="logo"></a>
         <div class="line">
         </div>
     <form action="" method="get" class="buscar">
         <input type="search" name="search" id="search" placeholder="Buscar..." >
     </form>
     <div class="usuario">
         <img src="assets/images/user.png" style="width: 100%" alt="">
         <div class="nologin">
             <a href="/register"><h4>Registrarse</h4></a>
             <a href="/login"><p>Ingresar</p></a>
         </div>
         <img src="assets/images/arrow.png" alt="" class="arrow">
         <a href="/carrito  "><img src="assets/images/cart.png" alt="" class="cart"></a>
         <img src="assets/images/arrow.png" alt="" class="arrow">
     </div>
     <hr> </hr>
     <nav class="menu">
         <ul>
             <li><a href="">Niños</a></li>
             <li><a href="">Premium</a></li>
             <li><a href="">Outlet</a></li>
             <li><a href="">Hogar</a></li>
         </ul>
     </nav>
     <hr class="hr"> </hr>
 </div>