footer {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    background-color: black;
    height: 6rem;
    margin-top: 3rem;
}
footer ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 8px;
    margin-bottom: 0px;
    padding-left: 0px;
    text-transform: uppercase;
}
footer p {
    color: white;
    margin-bottom: 0px;
    text-align: center;
}
footer a {
    color: white;
}
li {
    list-style-type: none;
}
@media (max-width: 992px) {
    footer {
        margin-bottom: -24px;
        overflow: hidden;
        height: 100px;
        width: 104.5%;
    }
}